# Visual Studio 2015/2017 cache/options directory
.vs/

# Makefile executable
bin/tic_tac_toe

# Visual studio executable(s)
bin/Win32
bin/intermediates

# User-specific files
*.user

# macOS temporary files
.DS_Store
